/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body{
    background: #49617e;
    font-family: 'Roboto', sans-serif;
}
.wrapper{
    width: 930px;
    margin: 0 auto;
}
.wrapper .header{
    float: left;
    margin: 105px 0 0;
    width: 100%;
}
.wrapper>.header>.head-menu>.top-menu>li{
    display: inline-block;
    float: left;
    margin: 0 15px;
}
.wrapper>.header>.head-menu>.top-menu>li>a{
    text-decoration: none;
    line-height: 59px;
    font-family: "Roboto",sans-serif;
    color: #000000;
    font-size: 16px;
    font-weight: normal;
}
.wrapper>.header>.head-menu>.top-menu>li>a:hover{
    color: #56ccc8;
}
.wrapper>.header>.head-menu>.top-menu>li:first-child{
    background: none repeat scroll 0 0 #56ccc8;
    margin: 0 25px 0 0;
}
.wrapper>.header>.head-menu>.top-menu>li:first-child>a{
    line-height: 0;
    float: left;
}
.wrapper>.header>.head-menu>.top-menu>li:first-child>a>img{
    padding: 20px 19px 21px;
}
.wrapper .header .head-menu .top-menu{
    float: left;
}
.wrapper .header .head-menu{
    float: left;
    width: 100%;
    height: 60px;
    background: none repeat scroll 0 0 #fff;
}
.wrapper .top-menu li .active{
    color: #56ccc8!important;
}
.wrapper .header .head-menu .top-buttons{
    float: right;
}
.wrapper .header .head-menu .top-buttons a{
    float: left;
    height: 60px;
}
.wrapper .header .head-menu .top-buttons a:hover{
    background: none repeat scroll 0 0 #56ccc8;
}
.wrapper .header .head-menu .top-buttons .login img{
    padding: 21px;
    border-left: 1px solid #dde2e4;
}
.wrapper .header .head-menu .top-buttons .social{
    line-height: 69px;
}
.wrapper .header .head-menu .top-buttons .social img{
    margin: 0 15px;
}
.wrapper .header .head-menu .top-buttons .search img{
    padding: 21px;
    border-right: 1px solid #dde2e4;
}
.wrapper .header .head-menu .show-head{
    position: absolute;
    width: 930px;
    height: 673px;
    top: 180px;
    display: none;
}
.wrapper .header .head-menu .show-head .menu-block{
    float: left;
}
.wrapper .header .head-menu .show-head .menu-block .left-menu{
    width: 225px;
    height: 420px;
    background: #ffffff;
}
.show-head>.show-head-wrapper>.menu-block>.left-menu>li{
    border-bottom: 1px solid #e1e5e7;
    display: block;
    float: left;
    height: 59px;
    width: 225px;
}
.show-head>.show-head-wrapper>.menu-block>.left-menu>li>a{
    color: #475055;
    float: left;
    height: 59px;
    line-height: 59px;
    padding: 0 0 0 65px;
    text-decoration: none;
    width: 160px;
}
.show-head>.show-head-wrapper>.menu-block>.left-menu>li:first-child>a{
    background: url("../img/side_menu/home_icon.png") no-repeat scroll 20px 15px rgba(0, 0, 0, 0);
}
.show-head>.show-head-wrapper>.menu-block>.left-menu>li:first-child:hover>a{
    background: url("../img/side_menu/home_icon_selected.png") no-repeat scroll 20px 15px rgba(0, 0, 0, 0);
}
.show-head>.show-head-wrapper>.menu-block>.left-menu>li:first-child + li>a{
    background: url("../img/side_menu/shop_icon.png") no-repeat scroll 20px 15px rgba(0, 0, 0, 0);
}
.show-head>.show-head-wrapper>.menu-block>.left-menu>li:first-child + li:hover>a{
    background: url("../img/side_menu/shop_icon_selected.png") no-repeat scroll 20px 15px rgba(0, 0, 0, 0);
}
.show-head>.show-head-wrapper>.menu-block>.left-menu>li:first-child + li + li>a{
    background: url("../img/side_menu/note_icon.png") no-repeat scroll 23px 15px rgba(0, 0, 0, 0);
}
.show-head>.show-head-wrapper>.menu-block>.left-menu>li:first-child + li + li:hover>a{
    background: url("../img/side_menu/note_icon_selected.png") no-repeat scroll 23px 15px rgba(0, 0, 0, 0);
}
.show-head>.show-head-wrapper>.menu-block>.left-menu>li:first-child + li + li + li>a{
    background: url("../img/side_menu/users_icon.png") no-repeat scroll 20px 20px rgba(0, 0, 0, 0);
}
.show-head>.show-head-wrapper>.menu-block>.left-menu>li:first-child + li + li + li:hover>a{
    background: url("../img/side_menu/users_icon_selected.png") no-repeat scroll 20px 20px rgba(0, 0, 0, 0);
}
.show-head>.show-head-wrapper>.menu-block>.left-menu>li:first-child + li + li + li + li>a{
    background: url("../img/side_menu/trophy_icon.png") no-repeat scroll 20px 15px rgba(0, 0, 0, 0);
}
.show-head>.show-head-wrapper>.menu-block>.left-menu>li:first-child + li + li + li + li:hover>a{
    background: url("../img/side_menu/trophy_icon_selected.png") no-repeat scroll 20px 15px rgba(0, 0, 0, 0);
}
.show-head>.show-head-wrapper>.menu-block>.left-menu>li:first-child + li + li + li + li + li>a{
    background: url("../img/side_menu/info_icon.png") no-repeat scroll 20px 15px rgba(0, 0, 0, 0);
}
.show-head>.show-head-wrapper>.menu-block>.left-menu>li:first-child + li + li + li + li + li:hover>a{
    background: url("../img/side_menu/info_icon_selected.png") no-repeat scroll 20px 15px rgba(0, 0, 0, 0);
}
.show-head>.show-head-wrapper>.menu-block>.left-menu>li:first-child + li + li + li + li + li + li>a{
    background: url("../img/side_menu/email_icon.png") no-repeat scroll 20px 20px rgba(0, 0, 0, 0);
}
.show-head>.show-head-wrapper>.menu-block>.left-menu>li:first-child + li + li + li + li + li + li:hover>a{
    background: url("../img/side_menu/email_icon_selected.png") no-repeat scroll 20px 20px rgba(0, 0, 0, 0);
}
.show-head>.show-head-wrapper>.menu-block>.left-menu>li:hover, .show-head>.show-head-wrapper>.menu-block>.left-menu>li:hover>a{
    color: #ffffff;
    background: #56ccc8;
}
.wrapper .header .head-menu .show-head .menu-block .about{
    height: 253px;
    width: 225px;
    background: #c5cdd1;
}
.menu-block .about img{
    float: left;
}
.menu-block .about p{
    color: #ffffff;
    float: left;
    font-size: 14px;
    font-weight: normal;
    padding: 0 0 0 20px;
    line-height: 17px;
}
.menu-block .about div{
    float: left;
    margin: 22px;
    width: 180px;
}
.menu-block .about div:first-child + div p{
    margin-left: 5px;
}
.top-menu .show-head .show-head-wrapper{
    height: 100%;
    position: relative;
    width: 100%;
}
.slide-menu{
    height: 673px;
    left: 225px;
    position: absolute;
    top: 0;
    width: 240px;
    display: none;
}
.slide-menu ul{

}
.slide-menu ul li{
    background: none repeat scroll 0 0 #152840;
    border-bottom: 1px solid #49647e;
    padding: 20px;
}
.slide-menu ul li:last-child{
    border: none;
}
.slide-menu ul li:hover{
    background: none repeat scroll 0 0 #263a54;
}
.slide-menu ul li a{
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding: 7px 0;
}
.slide-menu ul li a:first-child{
    color: #41989b;
    background: url("../img/side_menu/arrow.png") no-repeat scroll right center rgba(0, 0, 0, 0);
}
.slide-menu ul li a:hover{
    color: #41989b;
}
.show-head .show-head-wrapper .social-block{
    float: left;
    margin: 0 0 0 15px;
    width: 450px;
}
.show-head .show-head-wrapper .social-block .social-first{
    width: 215px;
    height: 315px;
    background: #ffffff;
    float: left;
}
.show-head .show-head-wrapper .social-block .social-first p{
    font-size: 16px;
    font-weight: normal;
    padding: 24px 0 20px 70px;
    color: #596165;
}
.show-head .show-head-wrapper .social-block .social-first p:hover{
    color: #4fc6f8;
    cursor: pointer;
}
.show-head .show-head-wrapper .social-block .social-first p:first-child{
    background: url("../img/rss/facebook_icon_normal.png") no-repeat 20px center;
}
.show-head .show-head-wrapper .social-block .social-first p:first-child:hover{
    background: url("../img/rss/facebook_icon_active.png") no-repeat 20px center;
}
.show-head .show-head-wrapper .social-block .social-first p:first-child+p{
    background: url("../img/rss/twitter_icon_normal.png") no-repeat 20px center;
}
.show-head .show-head-wrapper .social-block .social-first p:first-child+p:hover{
    background: url("../img/rss/twitter_icon_active.png") no-repeat 20px center;
}
.show-head .show-head-wrapper .social-block .social-first p:first-child+p+p{
    background: url("../img/rss/g+_icon_normal.png") no-repeat 20px center;
}
.show-head .show-head-wrapper .social-block .social-first p:first-child+p+p:hover{
    background: url("../img/rss/g+_icon_active.png") no-repeat 20px center;
}
.show-head .show-head-wrapper .social-block .social-first p:first-child+p+p+p{
    background: url("../img/rss/rss_icon_normal.png") no-repeat 20px center;
}
.show-head .show-head-wrapper .social-block .social-first p:first-child+p+p+p:hover{
    background: url("../img/rss/rss_icon_active.png") no-repeat 20px center;
}
.show-head .show-head-wrapper .social-block .social-first p:first-child+p+p+p+p{
    background: url("../img/rss/pinterest_icon_normal.png") no-repeat 20px center;
}
.show-head .show-head-wrapper .social-block .social-first p:first-child+p+p+p+p:hover{
    background: url("../img/rss/pinterest_icon_active.png") no-repeat 20px center;
}
.show-head .show-head-wrapper .social-block .social-second{
    float: left;
    width: 217px;
    height: 150px;
    background: #4d6baa;
    margin: 0 0 0 18px;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
}
.social-block .social-second img:first-child{
    float: left;
    padding: 20px 155px 0 20px;
}
.social-block .social-second img:last-child{
    float: left;
    margin: 50px 0 0 5px;
    cursor: pointer;
}
.social-block .social-second .left{
    float: left;
    margin: 55px 0 0 20px;
}
.social-block .social-second .right{
    float: left;
    margin: 55px 0 0 70px;
}
.show-head .show-head-wrapper .social-block .social-third{
    float: left;
    width: 217px;
    height: 150px;
    background: #4fc6f8;
    margin: 15px 0 0 18px;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
}
.social-block .social-third img:first-child{
    float: left;
    padding: 20px 155px 0 20px;
}
.social-block .social-third img:last-child{
    float: left;
    margin: 55px 0 0 5px;
    cursor: pointer;
}
.social-block .social-third .left{
    float: left;
    margin: 60px 0 0 20px;
}
.social-block .social-third .right{
    float: left;
    margin: 60px 0 0 60px;
}
.show-head .show-head-wrapper .social-block .social-forth{
    float: left;
    background: #ffffff;
    width: 450px;
    height: 165px;
    margin: 14px 0 0;
}
.show-head .show-head-wrapper .social-block .social-forth h1{
    font-weight: normal;
    color: #475055;
    text-align: center;
    font-size: 24px;
    margin: 25px 0 0;
}
.show-head .show-head-wrapper .social-block .social-forth p{
    font-weight: 100;
    color: #475055;
    text-align: center;
    font-size: 15px;
    margin: 10px 0 0;
}
.show-head .show-head-wrapper .social-block .social-forth .buttons{
    text-align: center;
    margin: 20px 0 0;
}
.show-head .show-head-wrapper .social-block .social-forth .buttons a{
    margin: 10px;
}
.show-head .show-head-wrapper .social-block .social-fifth{
    float: left;
    background: #ffffff;
    width: 450px;
    height: 165px;
    margin: 14px 0 0;
}
.show-head .show-head-wrapper .social-block .social-fifth h1{
    font-weight: normal;
    color: #475055;
    text-align: center;
    font-size: 24px;
    margin: 30px 0 0;
}
.show-head .show-head-wrapper .social-block .social-fifth p{
    font-weight: normal;
    color: #475055;
    text-align: center;
    font-size: 12px;
    margin: 15px 0 0;
}
.show-head .show-head-wrapper .social-block .social-fifth .spam-subscribe{
    text-align: center;
    margin: 25px 0 0;
}
.show-head .show-head-wrapper .social-block .social-fifth .spam-subscribe input[type=text]{
    border: 1px solid #c5c9cc;
    color: #c5c9cc;
    height: 37px;
    width: 286px;
}
.show-head .show-head-wrapper .social-block .social-fifth .spam-subscribe input[type=submit]{
    background: none repeat scroll 0 0 #ea6060;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    height: 41px;
    margin-left: 10px;
    width: 80px;
}
#slider {
    width:926px;
    height:453px;

    /*IE bugfix*/
    padding:0;
    margin:0;
}
#page {
    width:926px;
    margin: 15px 2px;
    float: left;
}
#page li {
    list-style:none;
}
.rhino-bullets{
    background: none!important;
}
.rhino-bullets::before, .rhino-bullets::after {
    background: none!important;
}
.rhino-bullets li a.rhino-bullet {
    background: url("../img/slider/circle.png")no-repeat!important;
    font-size: 0!important;
}
.rhino-bullets li a.rhino-bullet.rhino-active-bullet {
    background: url("../img/slider/circle-active.png") no-repeat!important;
}
.rhino-prev, .rhino-next {
    top: 200px;
}
.rhino-next {
    background: url("../img/slider/right-arrow.png")no-repeat!important;
    right: -22px!important;
}
.rhino-prev{
    background: url("../img/slider/left-arrow.png")no-repeat!important;
    left: 0!important;
}