/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body{
    background: #49617e;
    font-family: 'Roboto', sans-serif;
}
.wrapper{
    width: 930px;
    margin: 0 auto;
}
.wrapper .header{
    float: left;
    margin: 105px 0 0;
    width: 100%;
}
.wrapper>.header>.head-menu>.top-menu>li{
    display: inline-block;
    float: left;
    margin: 0 15px;
}
.wrapper>.header>.head-menu>.top-menu>li>a{
    text-decoration: none;
    line-height: 59px;
    font-family: "Roboto",sans-serif;
    color: #000000;
    font-size: 16px;
    font-weight: normal;
}
.wrapper>.header>.head-menu>.top-menu>li>a:hover{
    color: #56ccc8;
}
.wrapper>.header>.head-menu>.top-menu>li:first-child{
    background: none repeat scroll 0 0 #56ccc8;
    margin: 0 25px 0 0;
}
.wrapper>.header>.head-menu>.top-menu>li:first-child>a{
    line-height: 0;
    float: left;
}
.wrapper>.header>.head-menu>.top-menu>li:first-child>a>img{
    padding: 20px 19px 21px;
}
.wrapper .header .head-menu .top-menu{
    float: left;
}
.wrapper .header .head-menu{
    float: left;
    width: 100%;
    height: 60px;
    background: none repeat scroll 0 0 #fff;
}
.wrapper .top-menu li .active{
    color: #56ccc8!important;
}
.wrapper .header .head-menu .top-buttons{
    float: right;
}
.wrapper .header .head-menu .top-buttons a{
    float: left;
    height: 60px;
}
.wrapper .header .head-menu .top-buttons a:hover{
    background: none repeat scroll 0 0 #56ccc8;
}
.wrapper .header .head-menu .top-buttons .login img{
    padding: 21px;
    border-left: 1px solid #dde2e4;
}
.wrapper .header .head-menu .top-buttons .social{
    line-height: 69px;
}
.wrapper .header .head-menu .top-buttons .social img{
    margin: 0 15px;
}
.wrapper .header .head-menu .top-buttons .search img{
    padding: 21px;
    border-right: 1px solid #dde2e4;
}
.wrapper .header .head-menu .show-head{
    position: absolute;
    width: 930px;
    height: 673px;
    top: 180px;
    display: none;
}
.wrapper .header .head-menu .show-head .menu-block{
    float: left;
}
.wrapper .header .head-menu .show-head .menu-block .left-menu{
    width: 225px;
    height: 420px;
    background: #ffffff;
}
.show-head>.show-head-wrapper>.menu-block>.left-menu>li{
    border-bottom: 1px solid #e1e5e7;
    display: block;
    float: left;
    height: 59px;
    width: 225px;
}
.show-head>.show-head-wrapper>.menu-block>.left-menu>li>a{
    color: #475055;
    float: left;
    height: 59px;
    line-height: 59px;
    padding: 0 0 0 65px;
    text-decoration: none;
    width: 160px;
}
.show-head>.show-head-wrapper>.menu-block>.left-menu>li:first-child>a{
    background: url("../img/side_menu/home_icon.png") no-repeat scroll 20px 15px rgba(0, 0, 0, 0);
}
.show-head>.show-head-wrapper>.menu-block>.left-menu>li:first-child:hover>a{
    background: url("../img/side_menu/home_icon_selected.png") no-repeat scroll 20px 15px rgba(0, 0, 0, 0);
}
.show-head>.show-head-wrapper>.menu-block>.left-menu>li:first-child + li>a{
    background: url("../img/side_menu/shop_icon.png") no-repeat scroll 20px 15px rgba(0, 0, 0, 0);
}
.show-head>.show-head-wrapper>.menu-block>.left-menu>li:first-child + li:hover>a{
    background: url("../img/side_menu/shop_icon_selected.png") no-repeat scroll 20px 15px rgba(0, 0, 0, 0);
}
.show-head>.show-head-wrapper>.menu-block>.left-menu>li:first-child + li + li>a{
    background: url("../img/side_menu/note_icon.png") no-repeat scroll 23px 15px rgba(0, 0, 0, 0);
}
.show-head>.show-head-wrapper>.menu-block>.left-menu>li:first-child + li + li:hover>a{
    background: url("../img/side_menu/note_icon_selected.png") no-repeat scroll 23px 15px rgba(0, 0, 0, 0);
}
.show-head>.show-head-wrapper>.menu-block>.left-menu>li:first-child + li + li + li>a{
    background: url("../img/side_menu/users_icon.png") no-repeat scroll 20px 20px rgba(0, 0, 0, 0);
}
.show-head>.show-head-wrapper>.menu-block>.left-menu>li:first-child + li + li + li:hover>a{
    background: url("../img/side_menu/users_icon_selected.png") no-repeat scroll 20px 20px rgba(0, 0, 0, 0);
}
.show-head>.show-head-wrapper>.menu-block>.left-menu>li:first-child + li + li + li + li>a{
    background: url("../img/side_menu/trophy_icon.png") no-repeat scroll 20px 15px rgba(0, 0, 0, 0);
}
.show-head>.show-head-wrapper>.menu-block>.left-menu>li:first-child + li + li + li + li:hover>a{
    background: url("../img/side_menu/trophy_icon_selected.png") no-repeat scroll 20px 15px rgba(0, 0, 0, 0);
}
.show-head>.show-head-wrapper>.menu-block>.left-menu>li:first-child + li + li + li + li + li>a{
    background: url("../img/side_menu/info_icon.png") no-repeat scroll 20px 15px rgba(0, 0, 0, 0);
}
.show-head>.show-head-wrapper>.menu-block>.left-menu>li:first-child + li + li + li + li + li:hover>a{
    background: url("../img/side_menu/info_icon_selected.png") no-repeat scroll 20px 15px rgba(0, 0, 0, 0);
}
.show-head>.show-head-wrapper>.menu-block>.left-menu>li:first-child + li + li + li + li + li + li>a{
    background: url("../img/side_menu/email_icon.png") no-repeat scroll 20px 20px rgba(0, 0, 0, 0);
}
.show-head>.show-head-wrapper>.menu-block>.left-menu>li:first-child + li + li + li + li + li + li:hover>a{
    background: url("../img/side_menu/email_icon_selected.png") no-repeat scroll 20px 20px rgba(0, 0, 0, 0);
}
.show-head>.show-head-wrapper>.menu-block>.left-menu>li:hover, .show-head>.show-head-wrapper>.menu-block>.left-menu>li:hover>a{
    color: #ffffff;
    background: #56ccc8;
}
.wrapper .header .head-menu .show-head .menu-block .about{
    height: 253px;
    width: 225px;
    background: #c5cdd1;
}
.menu-block .about img{
    float: left;
}
.menu-block .about p{
    color: #ffffff;
    float: left;
    font-size: 14px;
    font-weight: normal;
    padding: 0 0 0 20px;
    line-height: 17px;
}
.menu-block .about div{
    float: left;
    margin: 22px;
    width: 180px;
}
.menu-block .about div:first-child + div p{
    margin-left: 5px;
}
.top-menu .show-head .show-head-wrapper{
    height: 100%;
    position: relative;
    width: 100%;
}
.slide-menu{
    height: 673px;
    left: 225px;
    position: absolute;
    top: 0;
    width: 240px;
    display: none;
}
.slide-menu ul{

}
.slide-menu ul li{
    background: none repeat scroll 0 0 #152840;
    border-bottom: 1px solid #49647e;
    padding: 20px;
}
.slide-menu ul li:last-child{
    border: none;
}
.slide-menu ul li:hover{
    background: none repeat scroll 0 0 #263a54;
}
.slide-menu ul li a{
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding: 7px 0;
}
.slide-menu ul li a:first-child{
    color: #41989b;
    background: url("../img/side_menu/arrow.png") no-repeat scroll right center rgba(0, 0, 0, 0);
}
.slide-menu ul li a:hover{
    color: #41989b;
}
.show-head .show-head-wrapper .social-block{
    float: left;
    margin: 0 0 0 15px;
    width: 450px;
}
.show-head .show-head-wrapper .social-block .social-first{
    width: 215px;
    height: 315px;
    background: #ffffff;
    float: left;
}
.show-head .show-head-wrapper .social-block .social-first p{
    font-size: 16px;
    font-weight: normal;
    padding: 24px 0 20px 70px;
    color: #596165;
}
.show-head .show-head-wrapper .social-block .social-first p:hover{
    color: #4fc6f8;
    cursor: pointer;
}
.show-head .show-head-wrapper .social-block .social-first p:first-child{
    background: url("../img/rss/facebook_icon_normal.png") no-repeat 20px center;
}
.show-head .show-head-wrapper .social-block .social-first p:first-child:hover{
    background: url("../img/rss/facebook_icon_active.png") no-repeat 20px center;
}
.show-head .show-head-wrapper .social-block .social-first p:first-child+p{
    background: url("../img/rss/twitter_icon_normal.png") no-repeat 20px center;
}
.show-head .show-head-wrapper .social-block .social-first p:first-child+p:hover{
    background: url("../img/rss/twitter_icon_active.png") no-repeat 20px center;
}
.show-head .show-head-wrapper .social-block .social-first p:first-child+p+p{
    background: url("../img/rss/g+_icon_normal.png") no-repeat 20px center;
}
.show-head .show-head-wrapper .social-block .social-first p:first-child+p+p:hover{
    background: url("../img/rss/g+_icon_active.png") no-repeat 20px center;
}
.show-head .show-head-wrapper .social-block .social-first p:first-child+p+p+p{
    background: url("../img/rss/rss_icon_normal.png") no-repeat 20px center;
}
.show-head .show-head-wrapper .social-block .social-first p:first-child+p+p+p:hover{
    background: url("../img/rss/rss_icon_active.png") no-repeat 20px center;
}
.show-head .show-head-wrapper .social-block .social-first p:first-child+p+p+p+p{
    background: url("../img/rss/pinterest_icon_normal.png") no-repeat 20px center;
}
.show-head .show-head-wrapper .social-block .social-first p:first-child+p+p+p+p:hover{
    background: url("../img/rss/pinterest_icon_active.png") no-repeat 20px center;
}
.show-head .show-head-wrapper .social-block .social-second{
    float: left;
    width: 217px;
    height: 150px;
    background: #4d6baa;
    margin: 0 0 0 18px;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
}
.social-block .social-second img:first-child{
    float: left;
    padding: 20px 155px 0 20px;
}
.social-block .social-second img:last-child{
    float: left;
    margin: 50px 0 0 5px;
    cursor: pointer;
}
.social-block .social-second .left{
    float: left;
    margin: 55px 0 0 20px;
}
.social-block .social-second .right{
    float: left;
    margin: 55px 0 0 70px;
}
.show-head .show-head-wrapper .social-block .social-third{
    float: left;
    width: 217px;
    height: 150px;
    background: #4fc6f8;
    margin: 15px 0 0 18px;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
}
.social-block .social-third img:first-child{
    float: left;
    padding: 20px 155px 0 20px;
}
.social-block .social-third img:last-child{
    float: left;
    margin: 55px 0 0 5px;
    cursor: pointer;
}
.social-block .social-third .left{
    float: left;
    margin: 60px 0 0 20px;
}
.social-block .social-third .right{
    float: left;
    margin: 60px 0 0 60px;
}
.show-head .show-head-wrapper .social-block .social-forth{
    float: left;
    background: #ffffff;
    width: 450px;
    height: 165px;
    margin: 14px 0 0;
}
.show-head .show-head-wrapper .social-block .social-forth h1{
    font-weight: normal;
    color: #475055;
    text-align: center;
    font-size: 24px;
    margin: 25px 0 0;
}
.show-head .show-head-wrapper .social-block .social-forth p{
    font-weight: 100;
    color: #475055;
    text-align: center;
    font-size: 15px;
    margin: 10px 0 0;
}
.show-head .show-head-wrapper .social-block .social-forth .buttons{
    text-align: center;
    margin: 20px 0 0;
}
.show-head .show-head-wrapper .social-block .social-forth .buttons a{
    margin: 10px;
}
.show-head .show-head-wrapper .social-block .social-fifth{
    float: left;
    background: #ffffff;
    width: 450px;
    height: 165px;
    margin: 14px 0 0;
}
.show-head .show-head-wrapper .social-block .social-fifth h1{
    font-weight: normal;
    color: #475055;
    text-align: center;
    font-size: 24px;
    margin: 30px 0 0;
}
.show-head .show-head-wrapper .social-block .social-fifth p{
    font-weight: normal;
    color: #475055;
    text-align: center;
    font-size: 12px;
    margin: 15px 0 0;
}
.show-head .show-head-wrapper .social-block .social-fifth .spam-subscribe{
    text-align: center;
    margin: 25px 0 0;
}
.show-head .show-head-wrapper .social-block .social-fifth .spam-subscribe input[type=text]{
    border: 1px solid #c5c9cc;
    color: #c5c9cc;
    height: 37px;
    width: 286px;
}
.show-head .show-head-wrapper .social-block .social-fifth .spam-subscribe input[type=submit]{
    background: none repeat scroll 0 0 #ea6060;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    height: 41px;
    margin-left: 10px;
    width: 80px;
}
#slider {
    width:926px;
    height:453px;

    /*IE bugfix*/
    padding:0;
    margin:0;
}
#page {
    width:926px;
    margin: 15px 2px;
    float: left;
}
#page li {
    list-style:none;
}
.rhino-bullets{
    background: none!important;
}
.rhino-bullets::before, .rhino-bullets::after {
    background: none!important;
}
.rhino-bullets li a.rhino-bullet {
    background: url("../img/slider/circle.png")no-repeat!important;
    font-size: 0!important;
}
.rhino-bullets li a.rhino-bullet.rhino-active-bullet {
    background: url("../img/slider/circle-active.png") no-repeat!important;
}
.rhino-prev, .rhino-next {
    top: 200px;
}
.rhino-next {
    background: url("../img/slider/right-arrow.png")no-repeat!important;
    right: -22px!important;
}
.rhino-prev{
    background: url("../img/slider/left-arrow.png")no-repeat!important;
    left: 0!important;
}
.wrapper .middle{
    float: left;
    width: 100%;
}
.wrapper .middle .video-block{
    float: left;
    background: #ffffff;
}
.wrapper .middle .video-block .left{
    width: 315px;
    float: left;
    height: 300px;
}
.wrapper .middle .video-block .right{
    float: left;
    height: 300px;
    width: 615px;
    position: relative;
    background: #787878;
}
.wrapper .middle .video-block .right p{
    color: #ffffff;
    text-align: center;
    padding-bottom: 15px;
}
.wrapper .middle .video-block .right img{
    margin: 30px 35px 5px;
}
.video-block>.right>div>div:hover{
    background: #ea6060;
}
.wrapper .middle .video-block .right .slide-right{
    background: none repeat scroll 0 0 #1f3045;
    height: 300px;
    width: 105px;
    display: none;
}
.wrapper .middle .video-block .right .slide-right div{
    cursor: pointer;
}
.wrapper .middle .video-block .right .play-button{
    margin: 0;
    position: absolute;
    right: 250px;
    top: 135px;
    display: none;
    cursor: pointer;
}
div.box {
    height: 120px;
    padding: 30px 75px 0;
    /* 				overflow: hidden; */
}
.wrapper .middle .video-block .left .video{
    background: none repeat scroll 0 0 #ea6060;
    height: 30px;
    width: 35px;
    margin: 30px 0 0;
    float: left;
}
.wrapper .middle .video-block .left .video img{
    padding: 6px;
}
.wrapper .middle .video-block .left h1{
    color: #475055;
    font-size: 24px;
    font-weight: bold;
    padding: 35px 0 0 75px;
    width: 180px;
}
.wrapper .middle .video-block .left .time{
    color: #a3abaf;
    font-size: 14px;
    font-weight: 100;
    padding: 10px 0 0 75px;
}
.wrapper .middle .video-block .left #first-text-cut{
    color: #475055;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.wrapper .middle .video-block .left #first-text-cut a{
    text-decoration: none;
    color: #ea6060;
}
.middle .after-video{
    float: left;
    margin-top: 15px;
    width: 100%;
    height: 300px;
}
.middle .after-video .first{
    height: 300px;
    float: left;
    margin-right: 15px;
    width: 300px;
    background: #1f3045;
}
.middle .after-video .first{
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
.middle .after-video .first img{
    padding: 130px 10px 0 20px;
}
.middle .after-video .first p{
    margin-top: 10px;
}
.middle .after-video .first span{
    margin-left: 30px;
}
.middle .after-video .second{
    float: left;
    height: 300px;
    width: 615px;
    background: #787878;
}
.middle .after-video .second .left .video{
    background: none repeat scroll 0 0 #4fc6f8;
    height: 30px;
    width: 35px;
    margin: 30px 0 0;
    float: left;
}
.middle .after-video .second .left .video img{
    padding: 6px;
}
.middle .after-video .second .left h1{
    color: #475055;
    font-size: 24px;
    font-weight: bold;
    padding: 35px 0 0 75px;
    width: 180px;
}
.middle .after-video .second .left .time{
    color: #a3abaf;
    font-size: 14px;
    font-weight: 100;
    padding: 10px 0 0 75px;
}
.middle .after-video .second .left #second-text-cut{
    color: #475055;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.middle .after-video .second .left #second-text-cut a{
    text-decoration: none;
    color: #ea6060;
}
.middle .after-video .second  .left{
    width: 315px;
    float: left;
    height: 300px;
    background: #ffffff;
}
#second-text-cut{
    height: 100px;
}
.bottom{
    float: left;
    width: 100%;
}
.bottom .left-bottom{
    float: left;
    width: 300px;
    margin-right: 15px;
    margin-top: 15px;
}
.bottom .right-bottom{
    float: left;
    width: 615px;
    margin-top: 15px;
}
#datepicker{
    width: 295px!important;
    height: 300px;
    float: left;
    margin-left: 5px;
}
.ui-datepicker-header, .ui-widget-header{
    width: 295px!important;
}
.ui-widget-content {
    border: none!important;
    border-radius: 0!important;
    color: #ffffff;
    height: 300px!important;
    width: 294px!important;
    margin: 0!important;
    padding: 0!important;
    background: #152840!important;
}
.ui-datepicker-header, .ui-widget-header{
    background: none!important;
    border: none!important;
    height: 60px;
    padding-top: 28px!important;
}
.ui-datepicker-prev span{
    background: url("../img/cal-left.png")no-repeat!important;
    margin-top: 25px!important;
}
.ui-datepicker-next span{
    background: url("../img/cal-right.png")no-repeat!important;
    margin-top: 25px!important;
}
.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
    background: none!important;
    border: none!important;
    margin: 0!important;
    padding: 0!important;
}
.ui-state-hover, .ui-widget-header .ui-state-hover, .ui-widget-content .ui-state-hover{

}
.ui-datepicker th {
    border: 0 none;
    display: none;
    font-weight: bold;
    padding: 0.7em 0.3em;
    text-align: center;
}
.ui-datepicker-other-month, .ui-datepicker-unselectable, .ui-state-disabled{
    width: 40px;
    height: 40px;
    border: 1px solid #53647c!important;
}
.ui-datepicker td {
    width: 40px;
    height: 40px;
    border: 1px solid #53647c!important;
}
.ui-datepicker td span, .ui-datepicker td a{
    background: none!important;
    border: none!important;
    margin: 0!important;
    padding: 0!important;
    text-align: center!important;
    font-size: 20px !important;
}
.ui-state-hover{
    background: none!important;
    border: none!important;
}
.ui-datepicker td {
    background: none repeat scroll 0 0 #263a54 !important;
    line-height: 33px;
    margin: 0 !important;
    padding: 0 !important;
    border: 1px solid #53647c!important;
}
.ui-datepicker  .ui-datepicker-week-end{
    background: #324864!important;
}
.ui-datepicker .ui-state-active{
    background: #ea6060!important;
}
.ui-datepicker .ui-state-highlight{
    background: #56ccc8!important;
}
.ui-datepicker .ui-datepicker-other-month{
    background:  #263a54!important;
}
.ui-datepicker table{
    padding: 0!important;
    margin: 0!important;
}
.bottom .right-bottom .view{
    width: 300px;
    background: #ea6060;
    height: 300px;
    float: left;
    margin-left: 15px;
}
.bottom .right-bottom .view h1{
    color: #ffffff;
    font-size: 36px;
    font-weight: 200;
    line-height: 50px;
    padding: 60px 80px 0;
    text-transform: uppercase;
}
.bottom .right-bottom .view img{
    cursor: pointer;
    margin: 10px 0 0 80px;
}
.bottom .left-bottom .comments{
    background: #4fc6f8;
    width: 300px;
    height: 440px;
    float: left;
    color: #ffffff;
}
.bottom .left-bottom .comments p{
    font-size: 16px;
    font-weight: normal;
}
.bottom .left-bottom .comments span{
    font-weight: bold;
}
.bottom .left-bottom .comments .title{
    border-bottom: 1px solid #7bd4fa;
    float: left;
    padding: 35px 0;
    width: 100%;
}
.bottom .left-bottom .comments .title p{
    float: left;
    line-height: 25px;
    padding: 0 45px 0 35px
}
.bottom .left-bottom .comments .title img{
    float: left;
    cursor: pointer;
}
.bottom .left-bottom .comments .f-comment{
    float: left;
    padding: 35px;
    border-bottom: 1px solid #7bd4fa;
}
.bottom .left-bottom .comments .s-comment{
    float: left;
    padding: 35px;
}
#second-slider{
    width: 300px;
    height: 535px;
    float: left;
    margin: 15px 0 0;
}
#left-slider{
    margin: 0;
    padding: 0;
    width: 300px;
    height: 535px;
}
#second-slider .rhino-bullets{
    left: 280px;
    top: 29px;
}
#second-slider .rhino-bullets li a.rhino-bullet.rhino-active-bullet{
    background: url("../img/slider/2circle.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}
#second-slider .rhino-bullets li a.rhino-bullet {
    background: url("../img/slider/2circle-active.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    font-size: 0 !important;
}
#question{
    float: left;
    width: 300px;
    height: 380px;
    margin-top: 15px;
    background: #ffffff;
}
#question p{
    font-size: 24px;
    font-weight: 400;
    padding: 20px;
}
#question div{
    padding: 7px 17px;
}
#question input[type=text]{
    border: 1px solid #dde2e4;
    border-radius: 0;
    color: #dde2e4;
    height: 31px;
    padding: 8px;
    width: 243px;
}
#question input[type=submit]{
    height: 40px;
    width: 100px;
    border-radius: 5px;
    background: #ea6060;
    border: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
}
#question textarea{
    width: 246px;
    border: 1px solid #dde2e4;
    border-radius: 0;
    color: #dde2e4;
    padding: 7px;
}
input[type=submit]{
    cursor: pointer;
}
.bottom .right-bottom .big-info{
    width: 615px;
    height: 600px;float: left;
    background: #787878;
    margin-top: 15px;
}
.bottom .right-bottom .best-words{
    width: 615px;
    height: 150px;
    float: left;
    background: #ffffff;
    margin-top: 15px;
    margin-bottom: 15px;
}
.ui-datepicker-calendar tbody{

}
.ui-datepicker td {
    border: 1px solid #53647c !important;
    float: left !important;
    height: 33px !important;
    width: 40px !important;
}
.ui-datepicker-header, .ui-widget-header {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: medium none !important;
    height: 58px;
    padding-top: 28px !important;
}
.ui-datepicker td {
    background: none repeat scroll 0 0 #263a54 !important;
    border: 1px solid #53647c !important;
    line-height: 33px;
    margin: 0 !important;
    padding: 0 !important;
}
#tabs{
    float: left;
    height: 290px !important;
    width: 615px !important;
}
#tabs  .ui-widget-header{
    height: 45px!important;
    padding: 0!important ;
    width: 615px!important;
    margin: 0!important;
}
#tabs .ui-widget-content{
    height: 205px !important;
    width: 575px !important;
}
#tabs  .ui-state-default, #tabs .ui-widget-content .ui-state-default, #tabs .ui-widget-header .ui-state-default{
    background: #c5cdd1!important;
    border-radius: 0!important;
    border: none!important;
    margin: 0!important;
    padding: 0!important;
    height: 45px!important;
    width: 20%;
}
#tabs .ui-state-active, #tabs .ui-widget-content .ui-state-active, #tabs .ui-widget-header .ui-state-active{
    background: #ffffff!important;
    border-radius: 0!important;
    border: none!important;
}
#tabs .ui-state-hover, #tabs .ui-widget-content .ui-state-hover, #tabs .ui-widget-header .ui-state-hover, #tabs .ui-state-focus, #tabs .ui-widget-content .ui-state-focus, #tabs .ui-widget-header .ui-state-focus{
    background: #ffffff!important;
    border-radius: 0!important;
    border: none!important;
}
#tabs .ui-state-default a{
    color: #ffffff!important;
}
#tabs .ui-state-active a, #tabs .ui-state-active a:link, #tabs .ui-state-active a:visited{
    color: #000000!important;
    line-height: 27px !important;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    float: left;
    padding: 0.5em 28px!important;
    text-decoration: none;
}
#tabs .ui-widget-content {
    background: #ffffff!important;
    color: #475055;
    padding: 20px !important;
}
.bottom {
    float: left;
    margin-bottom: 100px;
    width: 100%;
}
#tabs li{
    border-left: 1px solid #49647e!important;
    border-right: 1px solid #49647e!important;
}
#tabs .ui-state-hover a, #tabs .ui-state-hover a:hover, #tabs .ui-state-hover a:link, #tabs .ui-state-hover a:visited, #tabs .ui-state-focus a, #tabs .ui-state-focus a:hover, #tabs .ui-state-focus a:link, #tabs .ui-state-focus a:visited{
    color: #000000!important;
}
#tabs-2 div{
    float: left;
    width: 45%;
}
#tabs-2 div p{
    float: left;
    font-size: 15px;
    padding: 10px;
}
#tabs-2 div span{
    color: #4fc6f8;
    float: left;
}
.right-bottom .best-words img{
    background: none repeat scroll 0 0 #4bc7c7;
    float: left;
    margin-top: 25px;
    padding: 10px;
}
.right-bottom .best-words p{
    font-size: 29px;
    font-style: italic;
    padding: 45px;
    text-align: center;
}
.big-info .first-info{
    float: left;
    width: 100%;
    height: 300px;
}
.big-info .second-info{
    float: left;
    width: 100%;
    background: #ffffff;
    height: 300px;
}
.big-info{
    position: relative;
}
.big-info .first-info img:first-child{
    top: 0;
    left: 0;
    position: absolute;
}
.big-info .first-info img{

}
.big-info .second-info .video{

}
.big-info .second-info h1{
    color: #475055;
    float: left;
    font-size: 24px;
    font-weight: 400;
    padding: 55px 200px 30px 55px;
}
.big-info .second-info div{
    color: #475055;
    font-weight: 100;
    font-size: 15px;
}
.big-info .second-info time{
    color: #475055;
    font-weight: 100;
    font-size: 15px;
}
.big-info .second-info img{
    background: none repeat scroll 0 0 #4bc7c7;
    float: left;
    margin-top: 50px;
    padding: 0 4px 4px;
}
.big-info .second-info div a{
    color: #ea6060;
    text-decoration: none;
}
#third-text-cut{
    height: 200px;
}
.second-info .revs {
    text-align: center;
    padding: 20px 100px;
}
.second-info .revs img{
    float: left;
    margin: -4px 10px 0;
    padding: 0;
}
.second-info .revs p{
    color: #475055;
    font-weight: 100;
    font-size: 15px;
    float: left;
}
#login-form{
    position: absolute;
    z-index: 5;
    width: 200px;
    height: 200px;
    background: #ffffff;
    text-align: center;
    color: #000000;
    padding-top: 15px;
    margin-left: -139px;
    margin-top: -3px;
    display: none;
}
#login-form input[type=text]{
    border: 1px solid #dde2e4;
    border-radius: 0;
    color: #dde2e4;
    height: 21px;
    margin: 10px 0;
    padding: 8px;
    width: 160px;
}
#login-form input[type=password]{
    border: 1px solid #dde2e4;
    border-radius: 0;
    color: #dde2e4;
    height: 21px;
    margin: 10px 0;
    padding: 8px;
    width: 160px;
}
#login-form input[type=submit]{
    height: 40px;
    width: 100px;
    border-radius: 5px;
    background: #ea6060;
    border: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
}
.after-video .second .right{
    float: left;
}
#login-form {
    cursor: auto;
}
fieldset div {
    margin-bottom: 2em;
}
fieldset .help {
    display: inline-block;
}
.ui-tooltip {
    width: 210px;
}
.ui-tooltip, .arrow:after {
    background: black;
    border: 2px solid white;
}
.ui-tooltip {
    padding: 0 20px!important;
    color: white!important;
    border-radius: 20px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
    text-transform: uppercase;
    box-shadow: 0 0 7px black;
    width: 200px!important;
    height: 30px!important;
    background: #ea6060!important;
}
.arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
}
.arrow.top {
    top: -16px;
    bottom: auto;
}
.arrow.left {
    left: 20%;
}
.arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.arrow.top:after {
    bottom: -20px;
    top: auto;
}
#popupwrapper{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(4, 48, 69, 0.61);
    z-index: 15;
    width: 100%;
    height: 100%;
    display: none;
}
#popupwrapper .content{
    width: 500px;
    height: 500px;
    margin: 100px auto;
    background: #ffffff;
}
#popupwrapper #closeclick{
    float: right;
    text-decoration: none;
    color: #ffffff;
    padding: 20px;
    background: #000000;
}
#popupwrapper #popup-img{
    float: left;
}
#popupwrapper #popup-title{
    float: left;
    font-size: 20px;
    padding: 40px 40px 0 40px;
}
#popupwrapper #popup-text{
    float: left;
    font-size: 12px;
    padding: 10px 40px 0 40px;
}

